*{
box-sizing: border-box
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #ebebeb;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 1.5rem;
}


.menu-logo {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-evenly;
}

.menu-logo i {
    font-size: 1.5rem;
    margin-left:30px;
    margin-right:20px;
    color: rgb(180, 180, 180);

}



.menu-logo img {
    width: 55%;
}

.search-function {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;

}

.search-function input {
    width: 80%;
    font-size: 1.2rem;
}

[type='submit'] {
    font-size: 1.2rem;
    width: 10%;
}

[type='submit'] i {
    color: #aaa;

}

.icons {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    border: blue 2px solid;

}

.fa-upload {
    font-size: 2rem;
    color: #aaa;
}

.fa-bell {
    font-size: 2rem;
    color: #aaa;
}

.icons img{
    width: 30%;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 50%;
    border: red 1px solid;
}

.icons i {
  margin-left: 15px;

}


main{
  display: flex;

}

.video-container{
  width: 60%;
  margin-left: 30px;

}

aside{

  width: 35%;
  background-color: #FFF;
  height:100%;

}


.preview-container{
  display: flex;
}

.control-recommended-video-list{
  display: flex;
  justify-content: space-between;
}
.right-most{
  display: flex;
  align-items: center;
  justify-content:space-evenly;

}

.right-most img{
  width: 20%;
  margin-left: -3px;
}

.right-most p{
  color: rgb(118, 118, 118);
}

.preview-channel-name, .preview-views{
  color: rgb(118, 118, 118);
  font-size: 12px;
  margin-top: -9px;
}



.fa-toggle-on{
  color: rgb(32, 124, 196);
  font-size: 28px;
  margin-right: 15px;
}

.left-most p{
  margin-left: 30px;
}

.thumbnail{
  width: 65%;
  margin-bottom: 11px;
  margin-right: 10px;
}

.thumbnail img{
  width: 100%;
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.preview-info{
}

.preview-videoTitle {
  margin-top: 0;
  font-weight: 300;
  color: rgb(51, 51, 51);

}

ul{
  list-style: none;
  margin-left:-7px;
}

#previewContainer-hLine, #previewContainer-hLine2{
    border: none;
    height: 1px;
    color:rgb(226, 226, 226) ;
    background-color: rgb(226, 226, 226) ;
    margin-bottom: 20px;
    margin-top: -10px;
    margin-left: -11px;
    margin-right: 15px;
}
.preview-info{
  width: 70%;
  margin-left: 30px;
  margin-right: 15px;
}

.preview-info a{
  text-decoration: none;
}


.preview-showmore-container{
text-align: center;
padding-bottom: 10px;
}
.preview-showmore-container a {
  text-decoration: none;
}

.preview-showmore-container ul {
  margin-bottom: -10px;
}


.sNumber{
  display: flex;
}

.subscribe{
  display: flex;
  justify-content: space-evenly;
}

#subscribe-icon{
  width: 18%;
  height:22%;
}

.channel-information {

  display: flex;
}

.channel-information img{
  height: 15%;
  width: 10%;

}

.subscribe-channel{
  border:blue 1px solid;
  width: 30%

}


.social{
  display: flex;
}
